<div
  style="
    padding: 24px 16px;
    display: flex;
    background-color: #ffffff;
    height: calc(100% - 57px);
    flex-direction: column;
    gap: 23px;
  "
>
  <nz-input-group [nzPrefix]="userIcon">
    <input
      [(ngModel)]="employeeName"
      nzId="employeeName"
      placeholder="Enter employee name"
      nz-input
    />
  </nz-input-group>
  <ng-template #userIcon
    ><img
      style="margin-right: 4px"
      src="/assets/icons/user.svg"
      nz-icon
      nzType="user"
      nzTheme="outline"
    />
  </ng-template>

  <nz-select
    [(ngModel)]="employeeRole"
    nzPlaceholder="Select option"
    [nzSuffixIcon]="'caret-down'"
  >
    <nz-option
      *ngFor="let role of roles"
      [nzValue]="role.value"
      [nzLabel]="role.label"
    ></nz-option>
  </nz-select>
  <custom-date-picker-start-end [(ngModel)]="dateRange">
  </custom-date-picker-start-end>
</div>

<div
  style="
    background-color: #ffffff;
    position: sticky;
    bottom: 0;
    width: 100%;

    justify-content: flex-end;
  "
>
  <nz-divider style="margin: 0"></nz-divider>
  <div
    style="
      gap: 16px;
      display: flex;
      padding: 12px 16px;
      justify-content: flex-end;
    "
  >
    <button nz-button nzType="default" (click)="closePage()">Cancel</button>
    <button nz-button nzType="primary" (click)="saveEmployee()">Save</button>
  </div>
</div>
