.employee-grid {
  .card-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;

    .employee-card {
      position: relative;
      z-index: 1;
      background: white;
      touch-action: pan-x;
      color: black;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
        transform: translateY(-2px);
      }
    }

    .delete-button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 80px;
      height: 100%;
      border-radius: 0;
    }
  }

  .employee-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .start-date {
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
  }
}
